/* @import "tailwindcss"; */

[vw-access-button] {
  position: fixed !important;
  right: 20px !important;
  bottom: -300px !important;
  transform: scale(1.5) !important;
  transform-origin: bottom right !important;
}
